
<div class="container searchbar ">
    <div class="search-box">
        <input type="text" placeholder="Search ...." class="search-input" matInput [formControl]="myControl"
            [matAutocomplete]="auto" (keyup)='handleFilter($event)' [(ngModel)]="searchText">
        <a href="#" class="search-btn">
            <i class="fas fa-search"></i>
        </a>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredArray" [value]="option">
                <p>Username : {{option.username}}</p>
            </mat-option>
        </mat-autocomplete>

    </div>
</div>

<div class="container mx-auto" style='margin-top:140px'>
    <div class="cards" *ngFor="let d of filteredArray">
        <div class="card-item">
            <div class="card-image">
                <img class="card-img-top" src="{{d.avatar}}" alt="...">
            </div>
            <div class="card-info">
                <h2 class="card-title">Username: {{d.username}}</h2>
                <p class="card-text">Name: {{d.name}}</p>
                <p class="card-intro">Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind texts.</p>
                <a class="btn" [routerLink]="['/dProfile', d._id]">Visit Doctor</a>

            </div>
        </div>
    </div>
</div>