

<nav id="nav" class="nav" #stickyMenu [class.sticky]="sticky">
    <button class="menu"><em class="hamburger"></em></button>

    <div class="brand">
        <a [routerLink]="['/']">Brand</a>
    </div>
    <ul class="navbar">
        <li>
            <a class="other" [routerLink]="['/home']">Home</a>
        </li>
        <li *ngIf="loggedIn || PloggedIn">
            <a class="other" (click)="openTemp(showCalender)">Fill Arrival Time</a>
        </li>
        <li>
            <a class=" other" href="#services">Services</a>
        </li>
        <li *ngIf="loggedIn || PloggedIn">
            <a class="other">
                <app-messages></app-messages>
            </a>
        </li>

     
        <li class="sign" *ngIf="imageURL">
            <img src='{{imageURL}}' alt=" avatar" style="width: 50px;height: 50px; border-radius: 50%;">
        </li>

    </ul>
</nav>
<section style="height: 200px;margin-bottom: 30px;background-color: brown;"></section>
<ng-template #showCalender>

    <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
        outsideDays="hidden">
    </ngb-datepicker>

    <ng-template #t let-date let-focused="focused">
        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
            {{ date.day }}
        </span>
    </ng-template>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="[patientArrivalDate(),closeTemp()]">send TP </button>
    </div>

</ng-template>