<nav class="navbar navbar-expand-lg navbar-light ">

  <div class="navbar-header">
    <a class="navbar-brand" [routerLink]="['/']"><span>D</span>oc<span>T</span>ourism</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Services <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Contact <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" *ngIf="loggedIn || PloggedIn">
        <a class="nav-link" (click)="openTemp(showCalender)">Fill Arrival Time</a>
      </li>

    </ul>

    <ng-container *ngIf="loggedIn || !PloggedIn; else elseTemplate">

      <form class=" my-2">
        <button mat-raised-button color="primary">Login</button>
        <button mat-raised-button color="primary">Sign Up</button>
      </form>

    </ng-container>
    <ng-template #elseTemplate>
      <app-messages class="mx-3"></app-messages>

      <img *ngIf="imageURL" src='{{imageURL}}' alt=" avatar"
        style="padding: 10px; width: 70px;height: 70px; border-radius: 50%;" [matMenuTriggerFor]="menu">

      <img *ngIf="imageURL2" src='{{imageURL2}}' alt=" avatar"
        style="padding: 10px; width: 70px;height: 70px; border-radius: 50%;" [matMenuTriggerFor]="menu">

      <img *ngIf="DimageURL" src='{{DimageURL}}' alt=" avatar"
        style="padding: 10px; width: 70px;height: 70px; border-radius: 50%;" [matMenuTriggerFor]="menu">

      <mat-menu #menu="matMenu" class='my-menu'>
        <a class="dropdown-item waves-effect waves-light" *ngIf="imageURL||imageURL2"
          [routerLink]="[ '/PatientProfile']">My Profile</a>
        <a class="dropdown-item waves-effect waves-light" *ngIf="DimageURL" [routerLink]="[ '/dashboard',id]">Doctor
          Profile </a>
        <form class=" my-3 ">
          <button mat-raised-button color="warn" >Log Out</button>
        </form>
      </mat-menu>

    </ng-template>

  </div>
</nav>
<section style="height: 200px;margin-bottom: 30px;background-color: #d43b88;"></section>


<ng-template #showCalender>

  <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
  </ngb-datepicker>

  <ng-template #t let-date let-focused="focused">
    <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
      [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
      (mouseleave)="hoveredDate = null">
      {{ date.day }}
    </span>
  </ng-template>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="[patientArrivalDate(),closeTemp()]">send TP </button>
  </div>

</ng-template>