<div class="container text-center my- py-2">
    <button mat-raised-button (click)='openTemp(DF_Modal)'>Fill Diagnosis Form</button>
</div>


<ng-template #DF_Modal>
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" (click)='closeTemp(DF_Modal)' aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class=" mx-auto">
        <div class="contaniner" *ngFor="let q of questions;let i = index">

            <div>
                <label>{{i+1}} : {{q.question}}</label>
                <ng-container *ngIf="q.type == 'checkbox'; else elseTemplate">
                    <input type='checkbox' value="{{q.question}}" (click)='addDiagnosis($event)'>
                </ng-container>
                <ng-template #elseTemplate>

                    <input type='text' (change)='addDiagnosis($event)'>

                </ng-template>

            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)='[closeTemp(DF_Modal),submitDF()]'>submit</button>
        </div>
    </div>
</ng-template>