<h2 mat-dialog-title>Fill Diagnosis Form</h2>

<mat-dialog-content class="contaniner" style="width: 300px;">

    <div class="contaniner " *ngFor="let q of data.questions;let i = index">

        <ng-container *ngIf="q.type == 'checkbox'; else elseTemplate">

            <input type='checkbox' value="{{q.question}}" (click)='addDiagnosis($event)'>{{q.question}}

        </ng-container>
        <ng-template #elseTemplate>
            <mat-form-field class="example-full-width">
                <mat-label>{{q.question}}</mat-label>
                <input matInput type='text' (change)='addDiagnosis($event)'>
            </mat-form-field>
        </ng-template>

    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="sendForm()">Send Form</button>
</mat-dialog-actions>